{% extends 'base.html' %}

{% block content %}
<h1> Documents List </h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>&#8470;</th>
      <th>ID</th>
      <th>TITLE</th>
      <th>TEXT</th>
      <th>URL</th>
      <th>CREATED</th>
      <th>SOURCE</th>
      <th>CREATED_AT</th>
      <th>UPDATED</th>
      <th>USER_ID</th>
    </tr>
  </thead>
  <tbody>
    {% for document in document_list %}
      <tr>
        <td> {{ forloop.counter }} </td>
        <td> {{ document.id }} </td>
        <td> {{ document.title }} </td>
        <td> {{ document.text }} </td>
        <td> {{ document.url }} </td>
        <td> {{ document.created }} </td>
        <td> {{ document.source }} </td>
        <td> {{ document.created_at }} </td>
        <td> {{ document.updated }} </td>
        <td> {{ document.user.id }} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
