{% extends 'base.html' %}

{% block content %}
<h1> Sources List </h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>&#8470;</th>
      <th>ID</th>
      <th>SID</th>
      <th>NAME</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    {% for source in source_list %}
      <tr>
        <td> {{ forloop.counter }} </td>
        <td> {{ source.id }} </td>
        <td> {{ source.sid }} </td>
        <td> {{ source.name }} </td>
        <td> {{ source.url }} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
