<!DOCTYPE html>
<html lang="en">
<head>

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id='content'>
{% block content %}
{% endblock %}
</div>
</body>
</html>

